* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

:root {
  /* ===== Color ===== */
  --body-color: #e4e9f7;
  --toggle-color: #fff;
  --darkmode: #0075ff;
  --text-color: #000;
  --card-filter: #fff;
  --card-color: #fff;
  --hover-color: #e4e9f7;
  --table: rgba(132, 139, 200, 0.18);

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

body.dark {
  --body-color: #001838;
  --toggle-color: #fff;
  --darkmode: #fff;
  --text-color: #fff;
  --card-filter: #d3b786;
  --card-color: #2c2f38;
  --hover-color: #2c2f38;
  --color: rgba(0, 0, 0, 0.4);;
}

.container-dashboard {
  height: 100%;
  width: 100%;
  padding: 20px 15px 20px 90px;
}

/* ========== Dashboard Header ========== */
/* ========== Dashboard Header ========== */
header {
  display: flex;
  justify-content: space-between;
}
header .content-text {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--text-color);
}
header .select {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 6px;
}
header .select-dropdown .select-btn {
  display: flex;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--card-filter);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header .select-btn .btn-text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
}
header .select-btn .arrow-dwn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.3rem;
  transition: var(--tran-03);
}
.select-btn.open-list .arrow-dwn {
  transform: rotate(180deg);
}
.select-btn.open-list ~ .list-items {
  display: block;
}
.select .list-items {
  position: absolute;
  width: 150px;
  max-height: 280px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--card-filter);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
  overflow-y: scroll;
}
.select .pizza-type {
  width: 350px;
}
.select .list-items .select-all {
  width: 100px;
  padding: 4px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin: 5px 5px;
  color: #fff;
  background-color: #886839;
}
.select .list-items .select-all:hover {
  cursor: pointer;
}

.select .list-items .item {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 5px;
  border-radius: 5px;
  background-color: var(--card-filter);
}
.select .list-items .item:hover {
  background-color: var(--hover-color);
}
.select .list-items .item label {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 5px;
  color: var(--text-color);
}
.select .list-items .item #pizza-type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  border-radius: 5px;
  margin-right: 10px;
  transition: var(--tran-03);
}

/* ========== Dashboard Analys ========== */
/* ========== Dashboard Analys ========== */
.analys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 2rem;
  justify-items: center;
}
.analys .analys-sales {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--card-color);
  border-radius: 15px;
  box-sizing: border-box;
}
.analys-sales .sales-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.analys-sales .sales-icon i {
  font-size: 2rem;
  color: var(--text-color);
}
.analys-sales .sales-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
.analys-sales .sales-text h3 {
  font-size: 1rem;
  color: var(--text-color);
}
.analys-sales .sales-text h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ========== Dashboard Chart ========== */
/* ========== Dashboard Chart ========== */
.chart {
  margin-top: 1.5rem;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "tabel-1 tabel-1 tabel-2 tabel-2 best-size"
    "avg-purchased avg-purchased daily-sales daily-sales daily-sales";
}
.chart-item:nth-child(1) {
  grid-area: tabel-1;
}
.chart-item:nth-child(2) {
  grid-area: tabel-2;
}
.chart-item:nth-child(3) {
  grid-area: best-size;
}
.chart-item:nth-child(4) {
  grid-area: avg-purchased;
}
.chart-item:nth-child(5) {
  grid-area: daily-sales;
}
.chart .chart-item {
  background-color: var(--card-color);
  padding: 20px 10px;
  border-radius: 15px;
  height: 360px;
  display: flex;
  justify-content: space-betwen;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.chart .chart-item .chart-img {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart .chart-item canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.chart .chart-item p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
}

/* ========== Tabel ========== */
.table {
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 0;
}
.table .table-header {
  font-size: 1.2rem;
  color: var(--text-color);
}
.content-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.content-table thead tr {
  background-color: #af672d;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}
.content-table th,
.content-table td {
  padding: 10px;
}
.content-table tbody tr {
  background-color: var(--card-color);
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
  border-bottom: 0.5px solid var(--table);
}

/* ========== Footer ========== */
/* ========== Footer ========== */
footer {
  background-color: #886839;
  width: 100%;
  padding: 15px 20px;
}
footer .footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-card h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1350px) {
  .chart {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "tabel-1 tabel-2"
      "best-size avg-purchased"
      "daily-sales daily-sales";
  }
}
@media screen and (max-width: 992px) {
  .container-dashboard {
    max-width: 992px;
  }
  .dash-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .chart .chart-item {
    max-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px !important;
    background-color: #fff;
  }
  .container-dashboard {
    max-width: 768px;
    padding: 20px 5%;
  }
  header .select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    gap: 5px;
  }
  header .select {
    width: 100%;
  }
  header .select-dropdown .select-btn {
    width: 100%;
  }
  .select .pizza-type {
    width: 310px;
  }
  .analys .analys-sales {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .chart {
    grid-template-columns: 1fr;
    grid-template-areas:
      "tabel-1"
      "tabel-2"
      "best-size"
      "avg-purchased"
      "daily-sales";
  }
  .chart .chart-item {
    max-height: 320px;
  }
}
@media screen and (max-width: 576px) {
  .container-dashboard {
    max-width: 576px;
  }
  .analys {
    display: grid;
    grid-template-columns: 1fr;
  }
  .analys .analys-sales {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 400px) {
  header .select {
    display: grid;
    grid-template-columns: 1fr;
  }
  header .select {
    width: 95%;
  }
  header .select-dropdown .select-btn {
    width: 100%;
  }
}
