* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

footer {
  background-color: #886839;
  width: 100%;
  padding: 15px 50px 15px 120px;
}
footer .footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-card h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
footer span a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

/* ============= RESPONSIVE =============== */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px !important;
  }
  footer {
    border-radius: 20px 20px 0 0 ;
    padding: 15px 1%;
  }
}

