:root {
    /* ===== Color ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #0075FF;
    --primary-color-light: #eceafb;
    --toggle-color: #DDD;
    --darkmode: #0075FF;
    --text-color: #000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/* ::selection{
    background-color: var(--primary-color);
    color: #fff;
} */

body.dark {
    --body-color: #001838;
    --sidebar-color: linear-gradient(#001838 70%, #00449E 100%);
    --primary-color: #444859;
    --primary-color-light: #444859ad;
    --toggle-color: #fff;
    --darkmode: #fff;
    --text-color: #fff;
}

/* ===== Sidebar ===== */
 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 10px 14px;
    border-right: 2.2px solid var(--text-color);
    border-radius: 0 20px 20px 0;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar header .image {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .header-logo {
    display: flex;
    align-items: center;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 30px;
    border-radius: 6px;
}
header .header-logo .name {
    font-size: 20px;
    font-weight: 700;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 200px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color-light);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .nav-menu {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.nav-menu::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-menu .mode {
    border-radius: 6px;
    padding: 20px;
    background-color: var(--primary-color-light);
    display: flex;
    position: relative;
    transition: var(--tran-05);
}

.nav-menu .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--darkmode);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--primary-color-light);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

/* =========================== */

.home{
    position: absolute;
    /* top: 0; */
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    /* text-align: center; */
}

.sidebar.close ~ .home {
    left: 78px; 
    height: 100vh;
    width: calc(100% - 78px); 
}

.home .text{
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
    padding: 10px 60px;
}


body.dark .home .text{
    color: var(--text-color);
}